:root {
  --text-color: #333;
  --bg-color: white;
  --bg-darken: #ccc;
  --corporate-orange: #f07e0f;
  --corporate-blue: #1aa2dd;
  --corporate-emerald: #37abb8;
  --corporate-emerald-darken: #1c5b57;
  --corporate-light-green: #8bc041;
  --corporate-blue-darken: #065b8c;
  --danger-color: #fc2c03;
  --corporate-grey: #969ba5;
  --corporate-grey-darken: #74787f;
  --warning-color: #fcee21;
}

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: var(--text-color);
  margin: 0;
  font-family: 'Montserrat', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 1.6rem;
  user-select: none;
  overflow: hidden;
}

header {
  font-size: 3.2rem;
  text-align: center;
  height: 8rem;
  line-height: 8rem;
  font-family: 'Oswald', sans-serif;
}

#content {
  height: 100%;
  --nav-width: 20rem;
}

.layout {
  width: calc(100vw - var(--nav-width));
  height: 100vh;
  position: relative;
  left: var(--nav-width);
  display: inline-block;
}

nav {
  width: var(--nav-width);
  font-size: 2rem;
}

footer {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  color: #74787f;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

button {
  cursor: pointer;
  font-size: 1.6rem;
}

button:disabled {
  cursor: default;
}

.meta {
  flex: 1 1;
}
.meta.id {
  text-align: center;
}
.meta.version {
  font-size: 0.8rem;
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0.5rem 0;
}

h4,
h5,
h6 {
  font-weight: 300;
}

h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 2rem;
}

input {
  border-radius: 0.4rem;
  height: 3.2rem;
  padding: 0 1.2rem;
  border: 1px solid var(--corporate-grey);
  font-size: 2rem;
}

input:focus {
  border-color: var(--corporate-blue);
  outline: var(--corporte-blue);
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#loading {
  font-family: 'Oswald';
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


input.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 62.5%;
  }
  nav {
    font-size: 2.4rem;
  }
  button {
    font-size: 2rem;
  }
  .mobile-hidden {
    display: none;
  }
  #content {
    --nav-width: 5rem;
  }
}

@media (any-pointer: coarse) {
  html {
    cursor: none;
  }
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: none;
  }
}
